body {
    background-repeat: no-repeat;
    border-image-width: 400px;
    shape-image-threshold: all;
}

h3 {
    text-shadow: 2px;
    padding: 5px;
    text-decoration-color: yellow;
    text-decoration-color: white;
}

p {
    text-decoration-color: whitesmoke;
}

.gallery img:hover {
    transform: scale(3.6);
}